.security {
  margin: 0 0 60px;
  padding: 0 10px;

  &__title {
    font-size: 30px;
  }

  &__list::before {
    @include security__list;

    content: "";

    display: block;
    float: left;
    margin: 0 25px 0 0;
  }

  &__item {
    margin: 0 0 60px;
  }
}
