<section class="security">
  <h2 class="security__title">Также курс включает в себя блок по безопасности в городе</h2>
  <ol class="security__list">
    <li class="security__item">Блок по автомобильной безопасности.</li>
    <li class="security__item">Народные волнения, давки, теракты.</li>
    <li class="security__item">Техногенные и природные катастрофы.</li>
    <li class="security__item">Что должно быть в EDC наборе.</li>
    <li class="security__item">Как действовать во время пожара?</li>
  </ol>
</section>
