<section class="reviews">
  <h2 class="title reviews__title">Отзывы</h2>
  <div class="reviews__video">
    <img src="./../images/reviews__video.jpg" alt="Обложка видеоотзывов" height="164" width="292">
  </div>
  <img src="./../images/reviews__photo.jpg" alt="Фотография Дмитрия Весны" height="156" width="117">
  <p class="reviews__name">Дмитрий Весна</p>
  <p class="reviews__text">Я, Выжил!!!! Такого треша в жизни у меня не было. Не думал даже, что на такое способен в последнее время. Ни какое КМБ и прочее с этим не сравнится...</p>
  <button class="reviews__button">Читать весь отзыв</button>
</section>
