<section class="review">
  <h2 class="title review__title">Отзывы</h2>
  <img src="./../images/review__video.jpg" alt="Обложка видео отзывов" height="164" width="292">
  <img src="./../images/review__photo.jpg" alt="Фотография Дмитрия Весны" height="156" width="117">
  <p class="review__text">Я, Выжил!!!! Такого треша в жизни у меня не было. Не думал даже, что на такое способен в последнее время. Ни какое КМБ и прочее с этим не сравнится...</p>
  <button class="review__button">Читать весь отзыв</button>
</section>
