.reviews {
  min-height: 970px;

  text-align: center;

  background: url(./../images/reviews__title-cover.png) center top no-repeat, url(./../images/reviews_cover.jpg) center bottom -40px / auto 710px no-repeat;

  &::after {
    @include reviews__pagination;

    content: "";

    display: block;
    margin: 0 auto;
  }

  &__title {
    margin: 0 0 60px;

    line-height: 80px;
  }

  &__video {
    position: relative;

    margin: 0 0 100px;

    text-align: center;
  }

  &__video::before {
    content: "";
    position: absolute;
    top: calc(50% - 56px);
    left: calc(50% - 53.5px);

    height: 112px;
    width: 107px;

    background: url(./../images/play.png) center no-repeat;
    cursor: pointer;

    transition: background 0.1s linear;
  }

  &__video:hover::before {
    top: calc(50% - 65px);
    left: calc(50% - 62px);

    height: 130px;
    width: 124px;

    background: url(./../images/play_hover.png) center no-repeat;
  }

  &__photo {
    margin: 0 0 20px;
  }

  &__name {
    margin: 0 0 20px;

    font: 20px "CoreSansE-65Bold";
  }

  &__text {
    position: relative;

    overflow: hidden;
    max-height: 150px;
    margin: 0 0 10px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;

      display: block;
      height: 50px;
      width: 320px;

      background-image: linear-gradient(to top, #ffffff 0%, transparent 100%);
    }
  }

  &__button {
    position: relative;

    margin: 0 0 45px;
    padding: 0 20px 0 0;

    font: inherit;
    text-decoration: underline;

    background-color: transparent;
    border: none;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 14px;

      height: 1px;
      width: 5px;

      background-color: #666666;
    }

    &::before {
      right: 9px;

      transform: rotate(45deg);
    }

    &::after {
      right: 6px;

      transform: rotate(-45deg);
    }
  }
}
