<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <link href="./images/favicons/favicon.ico" rel="shortcut icon">
  <link type="image/png" href="./images/favicons/favicon-16x16.png" rel="icon" sizes="16x16">
  <link type="image/png" href="./images/favicons/favicon-32x32.png" rel="icon" sizes="32x32">
  <title>Sparta</title>
  <link href="./styles/main.css" rel="stylesheet">
</head>
<body>
  @include("./../components/header/header.html")
  <main>
    @include("./../components/roadmap/roadmap.html")
    @include("./../components/advantages/advantages.html")
    @include("./../components/knowledge/knowledge.html")
    @include("./../components/security/security.html")
    @include("./../components/promo/promo.html")
    @include("./../components/skills/skills.html")
    @include("./../components/program/program.html")
    @include("./../components/instructor/instructor.html")
    @include("./../components/promo/promo.html")
    @include("./../components/reviews/reviews.html")
  </main>
  @include("./../components/footer/footer.html")
  <script src="./scripts/main.js"></script>
  <script>svg4everybody();</script>
</body>
</html>
