<section class="knowledge">
  <h2 class="knowledge__title">Ты узнаешь, что делать</h2>
  <ol class="knowledge__list">
    <li class="knowledge__item knowledge__item_1">
      <h3 class="knowledge__subtitle">Если заблудился</h3>
      <p class="knowledge__text">Как быть, если заблудился и остался один в лесу, как не умереть от голода и холода, сделать себе ночлег, развести огонь без спичек.</p>
    </li>
    <li class="knowledge__item knowledge__item_2">
      <h3 class="knowledge__subtitle">Если встретил диких зверей</h3>
      <p class="knowledge__text">Как вести себя в экстремальной ситуации при встрече с лесными животными, даже если «вон та киса» выглядит такой мирной.</p>
    </li>
    <li class="knowledge__item knowledge__item_3">
      <h3 class="knowledge__subtitle">Если нужна первая помощь</h3>
      <p class="knowledge__text">Ты узнаешь, что делать, если человеку стало плохо, как оказать самопомощь, как вынести пострадавшего из зоны поражения.</p>
    </li>
    <li class="knowledge__item knowledge__item_4">
      <h3 class="knowledge__subtitle">Если оказался в воде</h3>
      <p class="knowledge__text">Как спасти утопающего. Как не замёрзнуть и просушить одежду. Как подать сигнал SOS.</p>
    </li>
    <li class="knowledge__item knowledge__item_5">
      <h3 class="knowledge__subtitle">Если грозит опасность</h3>
      <p class="knowledge__text">Узнаешь рабочие алгоритмы действий в различных экстренных ситуациях.</p>
    </li>
  </ol>
</section>
