.knowledge {
  margin: 0 0 80px;

  text-align: center;

  &__title {
    margin: 0 0 50px 0;

    background: url(./../images/knowledge__title-cover.png) center no-repeat;
  }

  &__list {
    margin: 0;
  }

  &__item {
    margin: 0 0 50px;
  }

  &__item_1::before {
    @include knowledge_01;

    content: "";

    display: block;
    margin: 0 auto 30px;
  }

  &__item_2::before {
    @include knowledge_02;

    content: "";

    display: block;
    margin: 0 auto 30px;
  }

  &__item_3::before {
    @include knowledge_03;

    content: "";

    display: block;
    margin: 0 auto 30px;
  }

  &__item_4::before {
    @include knowledge_04;

    content: "";

    display: block;
    margin: 0 auto 30px;
  }

  &__item_5::before {
    @include knowledge_05;

    content: "";

    display: block;
    margin: 0 auto 30px;
  }

  &__subtitle {
    margin: 0 0 20px;

    font: 20px "CoreSansE-65Bold";
    letter-spacing: 1px;
  }

  &__text {
    margin: 0;
  }
}
