.knowledge {
  margin: 0 0 80px;

  background: url(./../images/knowledge__title-cover.png) center top no-repeat;

  @media (min-width: 768px) {
    margin: 0 0 30px 0;
  }

  @media (min-width: 1920px) {
    background: url(./../images/knowledge__title-cover_desktop.png) center top no-repeat;
  }

  &__title {
    margin: 0 0 50px 0;

    @media (min-width: 768px) {
      margin: 0 0 70px 0;

      font-size: 48px;
      line-height: 80px;
      letter-spacing: 2.4px;
    }

    @media (min-width: 1920px) {
      margin: 0 0 100px 0;

      font-size: 68px;
      line-height: 120px;
      letter-spacing: 3.4px;
    }
  }

  &__list {
    margin: 0;

    text-align: center;

    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    &:not(:last-of-type) {
      margin: 0 0 50px;
    }

    @media (min-width: 768px) {
      flex: 0 0 300px;
      margin: 0 30px 50px;
    }
  }

  &__item_1::before {
    @include knowledge_01;

    content: "";

    display: block;
    margin: 0 auto 30px;
  }

  &__item_2::before {
    @include knowledge_02;

    content: "";

    display: block;
    margin: 0 auto 30px;
  }

  &__item_3::before {
    @include knowledge_03;

    content: "";

    display: block;
    margin: 0 auto 30px;
  }

  &__item_4::before {
    @include knowledge_04;

    content: "";

    display: block;
    margin: 0 auto 30px;
  }

  &__item_5::before {
    @include knowledge_05;

    content: "";

    display: block;
    margin: 0 auto 30px;
  }

  &__subtitle {
    margin: 0 0 20px;

    font: 20px "CoreSansE-65Bold";
    letter-spacing: 1px;
  }

  &__text {
    margin: 0;
  }
}
