<header class="header">
  <nav class="navigation">
    <a class="navigation__logo">
      <picture>
        <source type="image/webp" srcset="./images/logo.webp">
        <img class="navigation__image" src="./images/logo.png" alt="Логотип спецкурса Sparta">
      </picture>
    </a>
    <ul class="navigation__list">
      <li class="navigation__item"><a class="navigation__link" href="tel:+79304150252">+7 (930) 415 02 52</a></li>
    </ul>
    <p class="navigation__text">Спецкурс</p>
  </nav>
  <h1 class="visually-hidden">Эскримальный спецкурс Sparta</h1>
  <h2 class="header__title"><span class="title_big">Выжить</span> любой ценой</h2>
  <ul class="header__list">
    <li class="header__item">ПТ</li>
    <li class="header__item">СБ</li>
    <li class="header__item">ВС</li>
    <li class="header__item">3 дня с утра до вечера</li>
  </ul>
  <a class="button" href="#">Рискнуть</a>
</header>
