.roadmap {
  &__title {
    position: relative;

    margin: 0 0 100px 0;

    line-height: 134px;

    background: url(./../images/roadmap__title-cover.png) center no-repeat;

    &::before {
      @include checkpoint;

      content: "";
      position: absolute;
      top: 170px;
      left: calc(50% - 15px);

      display: block;
      height: 30px;
      width: 30px;
    }

    &::after {
      content: "Start";
      position: absolute;
      top: 140px;
      left: calc(50% - 30px);

      font: 24px "CoreSansE-35Light";
      color: #ff0000;
      text-transform: initial;
    }
  }

  &__list {
    position: relative;

    margin: 0 0 130px 0;

    text-align: center;

    &::before {
      @include checkpoint;

      content: "";
      position: absolute;
      bottom: -70px;
      left: calc(50% - 15px);

      display: block;
      height: 30px;
      width: 30px;
    }

    &::after {
      content: "Finish";
      position: absolute;
      bottom: 0;
      bottom: -100px;
      left: calc(50% - 30px);

      font: 24px "CoreSansE-35Light";
      color: #ff0000;
    }
  }

  &__item {
    margin: 0 0 50px 0;
  }

  &__item_1::before {
    @include roadmap_1;

    content: "";

    display: block;
    margin: 0 auto 20px;
  }

  &__item_2::before {
    @include roadmap_2;

    content: "";

    display: block;
    margin: 0 auto 20px;
  }

  &__item_3::before {
    @include roadmap_3;

    content: "";

    display: block;
    margin: 0 auto 20px;
  }

  &__item_4::before {
    @include roadmap_4;

    content: "";

    display: block;
    margin: 0 auto 20px;
  }

  &__subtitle {
    margin: 0 0 20px;

    font: 20px "CoreSansE-65Bold";
    letter-spacing: 1px;
  }

  &__text {
    margin: 0;
  }
}
