<section class="roadmap">
  <h2 class="roadmap__title">Что вас ждёт</h2>
  <ul class="roadmap__list">
    <li class="roadmap__item roadmap__item_1">
      <h3 class="roadmap__subtitle">Спецзнания</h3>
      <p class="roadmap__text">За 3 дня спецкурса вы получите знания, которым обучают военных, альпинистов, спасателей</p>
    </li>
    <li class="roadmap__item roadmap__item_2">
      <h3 class="roadmap__subtitle">Спецнавыки</h3>
      <p class="roadmap__text">3 дня в лесу, без палаток, зажигалок и любых других гаджетов, которые облегчали бы жизнь</p>
    </li>
    <li class="roadmap__item roadmap__item_3">
      <h3 class="roadmap__subtitle">Экстрим</h3>
      <p class="roadmap__text">Смоделированные экстремальные ситуации, максимально приближенные к реальности. Вам придётся спасать утопающих из воды, спускаться по верёвке по отвесным скалам, добывать воду, жить в шалашах и землянках</p>
    </li>
    <li class="roadmap__item roadmap__item_4">
      <h3 class="roadmap__subtitle">Постоянный стресс</h3>
      <p class="roadmap__text">Участникам предстоит преодолевая себя действовать в стрессовой обстановке, применять на практике полученные ранее знания</p>
    </li>
  </ul>
</section>
