.roadmap {
  padding: 0 10px;

  &__title {
    @include roadmap__title-cover;

    position: relative;

    margin: 0 0 100px 0;

    font: 36px/100px "CoreSansE-95Black";
    color: #ff0000;
    letter-spacing: 1.8px;
    text-align: center;
    text-transform: uppercase;

    &::before {
      @include checkpoint;

      content: "";
      position: absolute;
      top: 140px;
      left: 150px;

      display: block;
      height: 30px;
      width: 30px;
    }

    &::after {
      content: "Start";
      position: absolute;
      top: 110px;
      left: 135px;

      font: 24px "CoreSansE-35Light";
      color: #ff0000;
      text-transform: initial;
    }
  }

  &__list {
    position: relative;

    margin: 0 0 30px 0;
    padding: 0;

    text-align: center;

    list-style: none;

    &::before {
      @include checkpoint;

      content: "";
      position: absolute;
      bottom: 30px;
      left: 135px;

      display: block;
      height: 30px;
      width: 30px;
    }

    &::after {
      content: "Finish";

      font: 24px "CoreSansE-35Light";
      color: #ff0000;
    }
  }

  &__item {
    margin: 0 0 50px 0;
  }

  &__item_1::before {
    @include roadmap_1;

    content: "";
    position: relative;

    display: block;
  }

  &__item_2::before {
    @include roadmap_2;

    content: "";
    position: relative;

    display: block;
  }

  &__item_3::before {
    @include roadmap_3;

    content: "";
    position: relative;

    display: block;
  }

  &__item_4::before {
    @include roadmap_4;

    content: "";
    position: relative;

    display: block;
  }

  &__subtitle {
    font: 20px "CoreSansE-65Bold";
    letter-spacing: 1px;
  }
}
