.footer {
  min-height: 650px;
  margin: 0 0 50px;

  background: url(./../images/footer_bg.jpg) center top -10px/ auto 650px no-repeat;

  @media (min-width: 768px) {
    background: url(./../images/footer_bg.jpg) center top -10px/ auto 700px no-repeat;
  }

  @media (min-width: 1920px) {
    background: url(./../images/footer_bg.jpg) center top -15px no-repeat;
  }

  &__title {
    margin: 0 0 20px;
    padding: 90px 0 0;

    font: 48px Besom;
    color: #ffffff;
    letter-spacing: 2.4px;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 768px) {
      margin: 0 0 40px;

      font-size: 65px;
      letter-spacing: 3.2px;
    }

    @media (min-width: 1920px) {
      padding: 180px 0 0;
    }
  }

  &__text {
    margin: 0 0 40px;

    color: #ffffff;

    @media (min-width: 768px) {
      max-width: 360px;
      margin: 0 auto 40px;
    }
  }

  &__form {
    text-align: center;
  }

  &__input {
    height: 48px;
    width: 235px;
    margin: 0 0 30px;
    padding: 0 30px;

    color: #ffffff;

    background-color: rgba(#ffffff, 0.1);
    border-color: transparent;
    border-radius: 24px;

    &::placeholder {
      color: #ffffff;
    }

    @media (min-width: 768px) {
      display: block;
      width: 270px;
      margin: 0 auto 30px;
    }
  }

  &__button {
    margin: 20px 0 140px;

    @media (min-width: 768px) {
      margin: 20px 0 160px;
    }

    @media (min-width: 1920px) {
      margin: 20px 0 210px;
    }
  }

  &__wrapper_bottom {
    @media (min-width: 768px) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  &__phone {
    display: block;
    margin: 0 0 50px;

    font: 18px "CoreSansE-55Medium";
    color: #3c313b;
    text-align: center;
    text-decoration: none;

    transition: color 0.3s linear;

    &:hover {
      color: #ff3838;
    }

    @media (min-width: 768px) {
      order: 3;
      margin: 0;
    }
  }

  &__link {
    display: block;
    margin: 0 0 30px;

    color: #3c313b;
    text-align: center;

    transition: color 0.3s linear;

    &:hover {
      color: #ff3838;
    }

    @media (min-width: 768px) {
      order: 2;
      margin: 0;
    }
  }

  &__logo-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    @media (min-width: 768px) {
      order: 1;
      margin: 0;
    }
  }

  &__name {
    max-width: 100px;
    padding: 0 0 0 10px;

    font-size: 20px;
  }

  &__copyright {
    font: 14px "CoreSansE-55Medium";
    color: #3c313b;
  }
}
