.instructor {
  margin: 0 0 50px;
  padding: 0 10px;

  &__title {
    margin: 0;
    padding: 330px 0 50px;

    background: url(./../images/instructor__title-cover.png) center 320px no-repeat;
  }

  &__name {
    margin: 10px 0 30px;

    font: 24px "CoreSansE-65Bold";
    color: #ff0000;
    letter-spacing: 1.2px;
    text-align: center;
  }

  &__list::before {
    @include instructor_decoration;

    content: "";

    display: block;
    float: left;
    padding: 0 10px 0 0;
  }

  &__item:not(:last-of-type) {
    margin: 0 0 20px 0;
  }

  &__number {
    padding: 0 20px 0 0;

    font: 100px Besom;
    color: #ff0000;
    letter-spacing: 5.8px;
    text-transform: uppercase;
  }

  &__list-score {
    display: flex;
    flex-direction: column;
    margin: 60px 0 0;
  }
}

.score__item {
  align-items: center;
  display: flex;
  margin: 0 0 20px 0;

  &:last-of-type {
    margin: 0;
  }
}
