<section class="instructor">
  <h2 class="title instructor__title">Инструктор</h2>
  <img class="instructor__photo" src="./../images/instructor__photo.png" alt="Фото Романа Попкова" height="290" width="290">
  <h3 class="instructor__name">Роман Попков</h3>
  <ul class="list instructor__list">
    <li class="instructor__item">Альпинист.</li>
    <li class="instructor__item">8 восхождений на Эльбрус (Западная и Восточная вершины), восхождение на Монблан. Неоднократно принимал участие в спасательных работах в горах. Спас двоих человек на вершине Эльбруса в снежную бурю.</li>
    <li class="instructor__item">Обучался у военных, горных и инструкторов по туризму.</li>
    <li class="instructor__item">Обучался в центре подготовки спасателей.</li>
    <li class="instructor__item">Инструктор по первой помощи по программе Красного Креста.</li>
    <li class="instructor__item">Обучение и  подготовка в Центре медицины катастроф.</li>
    <li class="instructor__item">Дайвер.</li>
  </ul>
  <ol class="list instructor__list-score">
    <li class="score__item"><span class="instructor__number">27</span>Спарт провел в качестве капитана.</li>
    <li class="score__item"><span class="instructor__number">28</span>Прыжков с веревкой (Rope Jumping).</li>
    <li class="score__item"><span class="instructor__number">05</span>Спарт организовал (максимальный поток 68 чел.)</li>
    <li class="score__item"><span class="instructor__number">35</span>Боёв в Бойцовском Клубе</li>
  </ol>
</section>
