.advantages {
  min-height: 1250px;
  margin: 0 0 30px;
  padding: 270px 0 0;

  color: #ffffff;

  background: url(./../images/advantages__title_bg.png) center 200px no-repeat, url(./../images/advantages_bg.jpg) center top / cover no-repeat;

  @media (min-width: 768px) {
    margin: 0 0 50px;

    background: url(./../images/advantages__title_bg_tablet.png) center 130px no-repeat, url(./../images/advantages_bg.jpg) center top / cover no-repeat;
  }
  @media (min-width: 1920px) {
    margin: 0 0 100px;

    background: url(./../images/advantages__title_bg_desktop.png) center 200px no-repeat, url(./../images/advantages_bg.jpg) center top / cover no-repeat;
  }

  &__title {
    max-width: 230px;
    margin: 0 auto 85px;

    font: 36px "CoreSansE-95Black";
    letter-spacing: 2px;
    text-transform: uppercase;

    &_minor {
      position: relative;

      max-width: 280px;
      margin: 0 auto 50px;

      &::after {
        @include advantages__blot;

        content: "";
        position: absolute;
        top: 0;
        right: 0;

        display: block;
      }
    }
  }

  &__list {
    margin: 0 0 100px;
    padding: 0 30px;

    list-style: none;

    &_minor {
      padding: 0 10px;
    }
  }

  &__item {
    margin: 0 0 30px;

    &_minor {
      margin: 0 0 40px;
    }
  }

  &__subtitle {
    margin: 0 0 10px;

    font: 20px "CoreSansE-65Bold";
    letter-spacing: 1.2px;
    text-transform: uppercase;

    &_minor {
      margin: 0 0 20px;
    }
  }

  &__text {
    margin: 0;
  }

  &__number {
    padding: 0 15px 0 0;

    font: 46px Besom;
    color: rgba(#ffffff, 0.15);
  }
}
