<section class="advantages">
  <h2 class="advantages__title">Что даёт наш спец- курс</h2>
  <ol class="advantages__list">
    <li class="advantages__item">
      <h3 class="advantages__subtitle"><span class="advantages__number">01</span>Базовые знания</h3>
      <p class="advantages__text">Вы научитесь не допускать и предотвращать попадание человека в опасные ситуации на природе и в городе</p>
    </li>
    <li class="advantages__item">
        <h3 class="advantages__subtitle"><span class="advantages__number">02</span>Важные навыки</h3>
        <p class="advantages__text">Получите не только все базовые знания, но и навыки, которые могут спасти жизнь и здоровье, как своё, так и родных, близких и людей вокруг</p></li>
  </ol>
  <h2 class="advantages__title advantages__title_minor">Чего не будет</h2>
  <ul class="advantages__list advantages__list_minor">
    <li class="advantages__item advantages__item_minor">
      <h3 class="advantages__subtitle">Нет скуке!</h3>
      <p class="advantages__text">Не будет скучной и нудной теории. Курс состоит на 80% из практики и только на 20% из теории!</p>
    </li>
    <li class="advantages__item advantages__item_minor">
        <h3 class="advantages__subtitle">И вакханалиям</h3>
        <p class="advantages__text">Никаких песен у костра и алкопоходов. Только хардкор!</p></li>
  </ul>
</section>
