.program {
  min-height: 1340px;
  margin: 0 0 50px 0;

  background: url(./../images/program__title-cover.png) center top 45px no-repeat, url(./../images/program_photo.jpg) left -20px bottom / auto 320px no-repeat, url(./../images/program_bg.jpg) center / cover no-repeat;

  &__title {
    margin: 0 0 50px 0;
    padding: 40px 0 0;
  }

  &__list {
    margin: 0 0 50px;
  }

  &__item {
    align-items: flex-start;
    display: flex;
    margin: 0 0 30px;
  }

  &__number {
    padding: 0 20px 0 0;

    font: 30px Besom;
    color: #ff0000;
    letter-spacing: 2px;
  }

  &__text {
    margin: 0;
  }

  &__subtitle {
    margin: 0 0 50px;

    font: 54px Besom;
    color: #ff0000;
    letter-spacing: 3.5px;
    text-align: center;
    text-transform: uppercase;
  }

  &__button {
    margin: 0 0 60px;
  }
}
