<section class="program">
  <h2 class="program__title">В программе спецкурса</h2>
  <ol class="program__list">
    <li class="program_item">Военный альпинизм с минимальным набором снаряжения.</li>
    <li class="program_item">Тактическая медицина.</li>
    <li class="program_item">Разведение огня без спичек.</li>
    <li class="program_item">Построение укрытий, долговременных и краткосрочных.</li>
    <li class="program_item">Блок по экипировке.</li>
    <li class="program_item">Аварийно-спасательные работы.</li>
    <li class="program_item">Первая помощь.</li>
    <li class="program_item">Методы согрева и просушки одежды.</li>
    <li class="program_item">Поисково-спасательные работы.</li>
  </ol>
  <p class="program__text">Записаться и</p>
</section>
