.program {
  min-height: 1340px;
  margin: 0 0 50px;

  background: url(./../images/program__title-cover.png) center top 45px no-repeat, url(./../images/program_photo.jpg) left -20px bottom / auto 320px no-repeat, url(./../images/program_bg.jpg) center / cover no-repeat;

  @media (min-width: 768px) {
    min-height: 1090px;
    margin: 0 0 60px;

    background: url(./../images/program__title-cover.png) center top 10px no-repeat, url(./../images/program_photo.jpg) left -20px bottom / auto 380px no-repeat, url(./../images/program_bg.jpg) center top 150px / cover no-repeat;
  }

  @media (min-width: 1440px) {
    background: url(./../images/program__title-cover.png) center top 10px no-repeat, url(./../images/program_photo.jpg) center bottom / auto 380px no-repeat, url(./../images/program_bg.jpg) center top 150px / cover no-repeat;
  }

  @media (min-width: 1920px) {
    min-height: 1400px;
    margin: 0 0 100px;

    background: url(./../images/program__title-cover_desktop.png) center top no-repeat, url(./../images/program_photo.jpg) center bottom no-repeat, url(./../images/program_bg.jpg) center top 180px no-repeat;
  }

  &__title {
    margin: 0 0 50px;
    padding: 40px 0 0;

    @media (min-width: 768px) {
      margin: 0 0 130px;
      padding: 0;

      font-size: 48px;
      line-height: 100px;
      letter-spacing: 2.4px;
    }

    @media (min-width: 1920px) {
      margin: 0 0 170px;

      font-size: 68px;
      line-height: 120px;
      letter-spacing: 3.4px;
    }
  }

  &__list {
    margin: 0 0 50px;

    @media (min-width: 768px) {
      margin: 0 0 60px;

      column-count: 2;
    }

    @media (min-width: 1920px) {
      margin: 0 0 70px 180px;
    }
  }

  &__item {
    align-items: flex-start;
    display: flex;

    &:not(:last-of-type) {
      margin: 0 0 30px;
    }
  }

  &__number {
    padding: 0 20px 0 0;

    font: 30px Besom;
    color: #ff0000;
    letter-spacing: 2px;
  }

  &__text {
    margin: 0;
  }

  &__wrapper_bottom {
    @media (min-width: 768px) {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 0 0 300px;
    }
  }

  &__subtitle {
    margin: 0 0 50px;

    font: 54px Besom;
    color: #ff0000;
    letter-spacing: 3.5px;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 768px) {
      margin: 0 55px 0 0;

      font-size: 60px;
    }

    @media (min-width: 1920px) {
      margin: 0 60px 0 0;

      font-size: 87px;
      letter-spacing: 5px;
    }
  }
}
