<section class="program">
  <div class="container">
    <h2 class="title program__title">В программе спецкурса</h2>
    <ol class="list program__list">
      <li class="program__item"><span class="program__number">01</span><p class="program__text">Военный альпинизм с минимальным набором снаряжения.</p></li>
      <li class="program__item"><span class="program__number">02</span><p class="program__text">Тактическая медицина.</p></li>
      <li class="program__item"><span class="program__number">03</span><p class="program__text">Разведение огня без спичек.</p></li>
      <li class="program__item"><span class="program__number">04</span><p class="program__text">Построение укрытий, долговременных и краткосрочных.</p></li>
      <li class="program__item"><span class="program__number">05</span><p class="program__text">Блок по экипировке.</p></li>
      <li class="program__item"><span class="program__number">06</span><p class="program__text">Аварийно-спасательные работы.</p></li>
      <li class="program__item"><span class="program__number">07</span><p class="program__text">Первая помощь.</p></li>
      <li class="program__item"><span class="program__number">08</span><p class="program__text">Методы согрева и просушки одежды.</p></li>
      <li class="program__item"><span class="program__number">09</span><p class="program__text">Поисково-спасательные работы.</p></li>
    </ol>
    <h2 class="program__subtitle">Записаться и</h2>
    <a class="button program__button" href="#">Рискнуть</a>
  </div>
</section>
